# Default ignored files
/../../../../../../../../../../../../../../../../ode donor/venv/.idea/shelf/
/../../../../../../../../../../../../../../../../ode donor/venv/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../../../../../../ode donor/venv/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../ode donor/venv/.idea/dataSources/
/../../../../../../../../../../../../../../../../ode donor/venv/.idea/dataSources.local.xml
